<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moma.trip.activity.mapper.TagsMapper">

	<select id="getTagsType" resultType="String">
		<![CDATA[
			select 
				t.type as type
			from mc_tags t 
			where t.parent_id = '-1' 
			order by sort
		]]>
	</select>

	<select id="getAllTags" resultType="com.moma.trip.activity.po.Tags">
		<![CDATA[
			select 
				t.tag_id as tagId,
				t.tag as tag,
				t.description as description,
				t.parent_id as parentId,
				t.sort as sort,
				t.value as value,
				t.icon as icon,
				t.type as type,
				t.active as active
			from mc_tags t 
			order by parent_id, sort
		]]>
	</select>

</mapper>
