<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moma.trip.mapper.ImageMapper">

	<select id="getImageByOwnerId" resultType="com.moma.trip.po.Image" parameterType="java.lang.String">
		<![CDATA[
			select 
				i.image_id as imageId,
				i.owner_id as ownerId,
				i.images_type as imagesType,
				i.server,
				i.path,
				i.image_name as imageName,
				i.image_desc as imageDesc,
				i.type,
				i.sort,
				i.create_time as createTime,
				i.file_size as fileSize
			from mc_images i 
			where i.owner_id = #{ownerId}
			order by i.image_name asc
		]]>
	</select>
	
	<select id="getImageByOwnerIdAndImgType" resultType="com.moma.trip.po.Image">
		<![CDATA[
			select 
				i.image_id as imageId,
				i.owner_id as ownerId,
				i.images_type as imagesType,
				i.server,
				i.path,
				i.image_name as imageName,
				i.image_desc as imageDesc,
				i.type,
				i.sort,
				i.create_time as createTime,
				i.file_size as fileSize
			from mc_images i 
			where i.owner_id = #{0} and i.type = #{1}
		]]>
	</select>
	
	<insert id="saveImage" parameterType="com.moma.trip.po.Image">
		<![CDATA[
			INSERT INTO mc_images
			(
				image_id,
				owner_id,
				images_type,
				server,
				path,
				image_name,
				image_desc,
				type,
				sort,
				create_time,
				file_size
			)
			VALUES 
			(
				#{imageId}, 
				#{ownerId}, 
				#{imagesType}, 
				#{server}, 
				#{path}, 
				#{imageName}, 
				#{imageDesc}, 
				#{type}, 
				#{sort}, 
				#{createTime},
				#{fileSize}
			)
		]]>
	</insert>
	
	<delete id="deleteImageById">
		<![CDATA[
			delete from mc_images where image_id = #{0}
		]]>
	</delete>
	
</mapper>
