<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moma.trip.mapper.TagsMapper">

	<select id="getTagsType" resultType="String">
		<![CDATA[
			select 
				t.type as type
			from mc_tags t 
			where t.parent_id = '-1' 
			order by sort
		]]>
	</select>

	<select id="getAllTags" resultType="com.moma.trip.po.Tags">
		<![CDATA[
			select 
				t.tag_id as tagId,
				t.tag as tag,
				t.description as description,
				t.parent_id as parentId,
				t.sort as sort,
				t.value as value,
				t.icon as icon,
				t.type as type,
				t.active as active
			from mc_tags t 
			order by parent_id, sort
		]]>
	</select>
	
	<select id="getTagByName" resultType="com.moma.trip.po.Tags">
		<![CDATA[
			select 
				t.tag_id as tagId,
				t.tag as tag,
				t.description as description,
				t.parent_id as parentId,
				t.sort as sort,
				t.value as value,
				t.icon as icon,
				t.type as type,
				t.active as active
			from mc_tags t 
			where t.tag = #{0} and t.type = #{1}
		]]>
	</select>
	
	<select id="getChildren" resultType="com.moma.trip.po.Tags">
		<![CDATA[
			select 
				t.tag_id as tagId,
				t.tag as tag,
				t.description as description,
				t.parent_id as parentId,
				t.sort as sort,
				t.value as value,
				t.icon as icon,
				t.type as type,
				t.active as active
			from mc_tags t inner join mc_tags p on t.parent_id = p.tag_id
			where t.type = #{1} and p.tag = #{0}  and t.tag != '全部'
		]]>
	</select>

</mapper>
