<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moma.trip.mapper.TicketMapper">

	<delete id="deleteTicketPriceByTicketId">
		<![CDATA[
			delete from mc_ticket_price where ticket_id = #{0}
		]]>
	</delete>

	<select id="getTicketPrice" resultType="java.lang.Double">
		<![CDATA[
			select 
				sum(price)
			from mc_ticket_price
			where 
				ticket_id = #{0} and
				date >= #{1} and 
				date <= #{2}
		]]>
	</select>

	<select id="getAllTicketList" resultType="com.moma.trip.po.Ticket">
		<![CDATA[
			select 
				ticket_id as ticketId,
				activity_id as activityId,
				name,
				detail,
				icon,
				hotel_code as hotelCode,
				spot_code as spotCode,
				sychtime
			from mc_ticket
		]]>
	</select>

	<delete id="deleteTicketPrice" parameterType="com.moma.trip.po.TicketPrice">
		<![CDATA[
			delete from mc_ticket_price 
			where 
				ticket_id = #{ticketId} and 
				year = #{year} and 
				month = #{month} and 
				day = #{day}
		]]>
	</delete>
	
	<insert id="saveTicketPrice" parameterType="com.moma.trip.po.TicketPrice">
		<![CDATA[
			INSERT INTO mc_ticket_price
			(
				ticket_price_id,
				ticket_id,
				price,
				year,
				month,
				day,
				entry_time,
				date
			)
			VALUES 
			(
				#{ticketPriceId},
				#{ticketId},
				#{price},
				#{year},
				#{month},
				#{day},
				#{entryTime},
				#{date}
			)
		]]>
	</insert>

	<insert id="saveTicket" parameterType="com.moma.trip.po.Ticket">
		<![CDATA[
			INSERT INTO mc_ticket
			(
				ticket_id,
				activity_id,
				name,
				detail,
				icon,
				hotel_code,
				spot_code,
				sychtime
			)
			VALUES 
			(
				#{ticketId}, 
				#{activityId}, 
				#{name}, 
				#{detail}, 
				#{icon}, 
				#{hotelCode},
				#{spotCode},
				#{sychtime}
			)
		]]>
	</insert>
	
	<select id="getTicketByActivityId" resultType="com.moma.trip.po.Ticket">
		<![CDATA[
			select 
				ticket_id as ticketId,
				activity_id as activityId,
				name,
				detail,
				icon,
				hotel_code as hotelCode,
				spot_code as spotCode,
				sychtime
			from mc_ticket
			where 
				activity_id = #{0}
		]]>
	</select>
	
	<select id="getTicketById" resultType="com.moma.trip.po.Ticket">
		<![CDATA[
			select 
				ticket_id as ticketId,
				activity_id as activityId,
				name,
				detail,
				icon,
				hotel_code as hotelCode,
				spot_code as spotCode,
				sychtime
			from mc_ticket
			where 
				ticket_id = #{0}
		]]>
	</select>
	
	<select id="getTicketList" resultType="com.moma.trip.po.Ticket">
		<![CDATA[
			select 
				t.ticket_id as ticketId,
				t.activity_id as activityId,
				t.name,
				t.detail,
				t.icon,
				t.hotel_code as hotelCode,
				t.spot_code as spotCode,
				t.sychtime,
				tp.price as price
			from mc_ticket t inner join mc_ticket_price tp
			on t.ticket_id = tp.ticket_id
			where 
				t.activity_id = #{0} and 
				tp.year = #{1} and
				tp.month = #{2} and
				tp.day = #{3}
		]]>
	</select>
	
	<delete id="deleteTicketById">
		<![CDATA[
			delete from mc_ticket where ticket_id = #{0}
		]]>
	</delete>
	
	<select id="getTicketDetailList" resultType="com.moma.trip.po.TicketDetail">
		<![CDATA[
			select 
				ticket_detail_id as ticketDetailId,
				ticket_id as ticketId,
				name,
				description,
				type,
				image_url as imageUrl,
				code1,
				code2,
				is_pay as isPay,
				is_display as isDisplay,
				quantity
			from mc_ticket_detail
			where 
				ticket_id = #{0}
		]]>
	</select>
	
	<select id="getTicketDetailById" resultType="com.moma.trip.po.TicketDetail">
		<![CDATA[
			select 
				ticket_detail_id as ticketDetailId,
				ticket_id as ticketId,
				name,
				description,
				type,
				image_url as imageUrl,
				code1,
				code2,
				is_pay as isPay,
				is_display as isDisplay,
				quantity
			from mc_ticket_detail
			where 
				ticket_detail_id = #{0}
		]]>
	</select>
	
</mapper>
