<div class="container" ng-controller="ActivityExtraViewController">
    <div class="row">
        <div class="col-md-12">
            
            <div class="panel panel-default">
              <div class="panel-heading">推荐玩法</div>
              <div class="panel-body">
                
                <form>
                    <input type="hidden" name="type" value=""/>

                    <div class="form-group">
                        <label for="activityId">ID：</label>
                        <input type="text" class="form-control" ng-model="activityExtra.activityPlanId">
                    </div>

                    <div class="form-group">
                        <label for="content">内容：</label>
                        <div>
                            <textarea ng-model="activityExtra.content" cols="30" rows="10" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default" ng-click="saveRec()">保存</button>
                    </div>
                </form>

              </div>
            </div>

        </div>
    </div>
</div>