<div class="container" ng-controller="SearchViewController">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">输入查询条件</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="activityPlan.activityPlanId" class="col-sm-2 control-label">Keyword：</label>
							<div class="col-sm-10">
								<input 
									type="text" 
									class="form-control"
									ng-model="params.keyword"> 
									
								<span class="help-block">输入ID号，按回车查询出数据</span>
								<button type="button" class="btn btn-default" ng-click="search()">点击查询</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row" ng-repeat="result in resultList">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">基本信息</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">ID：</label>
							<div class="col-sm-10"><span class="form-control">{{result.activityPlanId}}</span></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">名称：</label>
							<div class="col-sm-10"><span class="form-control">{{result.name}}</span></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">类型：</label>
							<div class="col-sm-10"><span class="form-control">{{result.type}}</span></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">描述：</label>
							<div class="col-sm-10">
								<textarea cols="30" rows="10" class="form-control">{{result.description}}</textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">主题：</label>
							<div class="col-sm-10"><span class="form-control">{{result.topic}}</span></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">费用包含：</label>
							<div class="col-sm-10"><span class="form-control">{{result.expInclusive}}</span></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">首页图路径：</label>
							<div class="col-sm-10"><span class="form-control">{{result.imageURL}}</span></div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">所属主题：</label>
							<div class="col-sm-10"><span class="form-control">{{result.topicId}}</span></div>
						</div>
					</form>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">图像信息</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
							   <th>位置</th>
							   <th>路径</th>
							   <th>大小</th>
							   <th>类型</th>
							   <td>原始名称</td>
							</tr>
					   </thead>
					   <tbody>
					   		<tr ng-repeat="image in result.imageList">
					   			<td>{{image.type}}</td>
					   			<td>{{image.path}}</td>
					   			<td>{{image.fileSize}}</td>
					   			<td>{{image.imagesType}}</td>
					   			<td>{{image.imageName}}</td>
					   		</tr>
					   </tbody>
					</table>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">亮点</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
							   <th>类型</th>
							   <th>名称</th>
							   <th>类容</th>
							   <th>anchor</th>
							</tr>
					   </thead>
					   <tbody>
					   		<tr ng-repeat="goodness in result.goodnessList">
					   			<td>{{goodness.type}}</td>
					   			<td>{{goodness.name}}</td>
					   			<td>{{goodness.content}}</td>
					   			<td>{{goodness.anchor}}</td>
					   		</tr>
					   </tbody>
					</table>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">附加信息</div>
				<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<tr>
							   <th>类型</th>
							   <th>类容</th>
							</tr>
					   </thead>
					   <tbody>
					   		<tr ng-repeat="extra in result.extraList">
					   			<td>{{extra.type}}</td>
					   			<td>{{extra.content}}</td>
					   		</tr>
					   </tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>
</div>