<div class="container" ng-controller="TicketViewController">
	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-default">
				<div class="panel-heading">套餐管理(注意组号码)</div>
				<div class="panel-body">

					<form>
						<div class="form-group">
							<label for="activityId">ID：</label> <input type="text"
								class="form-control" ng-model="ticket.activityId">
						</div>

						<div class="form-group">
							<label for="name">套餐名称：</label> <input type="text"
								class="form-control" ng-model="ticket.name">
						</div>

						<div class="form-group">
							<label for="detail">套餐详情：</label>
							<div>
								<textarea cols="30" rows="10" class="form-control"
									ng-model="ticket.detail"></textarea>
							</div>
						</div>

						<div class="form-group">
							<label>套餐图标：</label> <input type="text"
								class="form-control" ng-model="ticket.icon">
						</div>
						
						<div class="form-group">
							<label>购买须知：</label> 
							<textarea cols="30" rows="10" class="form-control" ng-model="ticket.buyPolicy"></textarea>
						</div>
						
						<div class="form-group">
							<label>推该须知：</label>
							<textarea cols="30" rows="10" class="form-control" ng-model="ticket.cancelPolicy"></textarea>
						</div>
					</form>

				</div>
			</div>

		</div>
	</div>
	
	<div class="row" ng-repeat="ticketDetail in ticket.ticketDetailList">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">套餐明细-{{ticketDetail.groupCode}}</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<div class="col-sm-2"><label class="control-label">类型：</label></div>
							<div class="col-sm-4">
								<select class="form-control" ng-model="ticketDetail.type" ng-change="changeType(ticketDetail, ticketDetail.type)">
									<option value="HOTEL">酒店</option>
									<option value="SPOT">门票</option>
								</select>
							</div>
							
							<div class="col-sm-2"><label class="control-label">酒店/门票</label></div>
							<div class="col-sm-4">
								<select class="form-control" ng-model="ticketDetail.code" ng-change="changeSh(ticketDetail, ticketDetail.code)">
									<option ng-repeat="sh in ticketDetail.shList" ng-value="sh.code">{{sh.name + '--' + sh.description}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2"><label class="control-label">名称：</label></div>
							<div class="col-sm-4">
								<input type="text" class="form-control" ng-model="ticketDetail.name">
							</div>
							<div class="col-sm-2"><label class="control-label">描述：</label></div>
							<div class="col-sm-4">
								<input type="text" class="form-control" ng-model="ticketDetail.description">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2"><label class="control-label">code1：</label></div>
							<div class="col-sm-4">
								<input type="text" class="form-control" ng-model="ticketDetail.code1" readonly="readonly">
							</div>
							<div class="col-sm-2"><label class="control-label">code2：</label></div>
							<div class="col-sm-4">
								<input type="text" class="form-control" ng-model="ticketDetail.code2" readonly="readonly">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2"><label class="control-label">是否需要支付：</label></div>
							<div class="col-sm-4">
								<select class="form-control" ng-model="ticketDetail.isPay">
									<option value="yes">是</option>
									<option value="no">否</option>
								</select>
							</div>
							<div class="col-sm-2"><label class="control-label">是否显示：</label></div>
							<div class="col-sm-4">
								<select class="form-control" ng-model="ticketDetail.isDisplay">
									<option value="yes">是</option>
									<option value="no">否</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2"><label class="control-label">数量：</label></div>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="ticketDetail.quantity">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="form-group text-center">
						<button type="button" class="btn btn-default"
							ng-click="saveTicket()">保存</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>